
{% extends 'medicus/base.html' %}
{% load static %}

    {% block content %}
        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title text-center">Add a doctor</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="" id="contact1">
                            <form method="post" action="propose-doctor">

                                {% csrf_token %}
                                {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{field.label}}: {{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                {% endif %}

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="dr. Exampleson">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select type="text" class="selectpicker" name="profession" id="profession" data-live-search="true" data-live-search-style="begins" placeholder="Specialty">
                                              {% for prof in professions %}
                                              <option>{{ prof }}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="123 Health Street">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="city" name="city" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select city">
                                                <option>Bacau</option>
                                                <option>Cluj</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="telephone" id="telephone" placeholder="911">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" name="email" placeholder="drBurrito@avocado.com">
                                        </div>
                                    </div>

                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="website" name="website" placeholder="https://www.avocado.com">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-sm-offset-3 text-center margin-top-30">
                                        <button type="submit" class="btn btn-block btn-primary">Write Santa</button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
