{% extends 'medicus/base.html' %}
{% load static %}

    {% block content%}
    <div class="content">
      <div class="row margin-top-30">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
          <h1 class="margin-top-30">Hooray!</h1>
          <p><strong>Thank you for contributing to this wonderful platform of ours</strong></p>
          <p>All submissions are being moderated by a meticulous and responsible human so it might take a day or two.</p>
          <a href="/" class="btn btn-primary margin-top-30">Back to Homepage</a>
        </div>
      </div>
    </div>

    {% endblock content %}
