################
# Django
################
django==2.0.2
django-extensions==1.9.7
django-crispy-forms==1.7.0

################
# social auth
################
# social_auth_app_django==2.1.0
django-allauth==0.35.0

################
# DB
################
psycopg2==2.7.3.2

################
# Pillow
################
pillow==5.0.0